.project-page {
    display: flex;
    flex-direction: column;
    &__title {
        font-size: larger;
        font-weight: 700;
        margin-top: 20px;
    }
    &__content {
        margin-top: 20px;
        line-height: normal;
    }
    .carousel-module {
        margin-top: 20px; 
    }
}
