#skills {
    .container {
        margin-top: 69px;
        .slick-slide {
            div {
                display: flex;
                div {
                    margin: auto;
                }
            }
        }
    }
}

