@import "~assets/sass/required.scss";

#fields {
    .container {
        margin-top: 69px;
        .header {
            text-align: left;
        }
        .experience {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 30px;
            row-gap: 30px;
            text-align: center;
            justify-self: center;
            margin-top: 2%;
            width: 100%;
            .experience-item {
                background-color: $white;
            }
        }
    }
}
